/*
=============================================
Page Styles
=============================================
*/

* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

.wrapper {
    height: 100%;
}

.wrapper,
#game-display {
    display: flex;
    flex-flow: column nowrap;
}

#game-display {
    padding: 1rem;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 2rem 0;
    text-align: center;
}

.hidden {
    display: none;
}

.prompt {
    margin: 1.5rem 0;
}

#timer,
.answer {
    text-align: center;
}

.answer {
    cursor: pointer;
}

.answer:hover {
    background-color: rgba(81, 81, 236, .75);
    font-weight: bold;
}

#start-game {
    padding: .5rem;
    width: fit-content;
}


/*
=============================================
Typography
=============================================
*/

h1,
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
}